@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select,
option {
  font-family: "Montserrat", sans-serif;
}

.dropdown-open {
  inset: 0px auto auto 0px;
  transform: translate3d(-50px, 50px, 0);
  -webkit-transform: translate3d(-50px, 50px, 0);
  -moz-transform: translate3d(-50px, 50px, 0);
  -ms-transform: translate3d(-50px, 50px, 0);
  -o-transform: translate3d(-50px, 50px, 0);
}

.dropdown-open_menu_options {
  inset: 0px auto auto 0px;
  transform: translate3d(-200px, 50px, 0);
  -webkit-transform: translate3d(-200px, 50px, 0);
  -moz-transform: translate3d(-200px, 50px, 0);
  -ms-transform: translate3d(-200px, 50px, 0);
  -o-transform: translate3d(-200px, 50px, 0);
}
